# exclude everything of the "encoders" folder structure but the folders themselves

# exclude everything
encoders/encodingOutput/*
encoders/HM/*
encoders/videoSourcefiles/*
encoders/VVCSoftware_VTM/*
encoders/vvenc/*

# exception to the rule
!encoders/encodingOutput/.gitkeep
!encoders/videoSourcefiles/.gitkeep
!encoders/videoSourcefiles/*.cfg

VVenC.py