# exclude everything of the "codecs" folder structure but the folders themselves

# exclude everything
encodingOutput/*
codecs/HM
videoSources/*
codecs/VVCSoftware_VTM
codecs/vvenc
venv

# exception to the rule
!encodingOutput/.gitkeep
!videoSources/.gitkeep
!videoSources/*.cfg